body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.needs-validation{
  margin-left: 20px;
}
.navbar-nav li a{
  font-size: 17px;
}
.navbar-brand{
  letter-spacing: 3px;
}
.needs-validation{
margin-left: 60px; 
}
@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }
}
.fullcontainer{
  background-color: rgb(227, 179, 220);
  height: 10rem;
  display: grid;
 border: black 20px;
  align-items: center;
  border: 2px solid black;
  transition: all 2s linear;
  transform-origin: top;
  box-shadow: rgba(215, 137, 190, 0.25) 0px 50px 100px -20px,
    rgba(154, 123, 123, 0.3) 0px 30px 60px -30px;
    border: 20px rgb(193, 211, 128);
}
.card{
  transition: all 0.5s ease;
  size: 40px 40px;
  margin-bottom: 20px;
 
  
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
input[type="text"],
input[type="password"] {
  height: 25px;
 
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form{
  margin-right: 350px;
  margin-left: 350px;
  margin-top: 30px;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.card-body{
  height: 95px;
  
  
}
.navbar{
  border: 2px solid black;
 
}
.card-img{
  border: 1px solid black;
}
.modal-body
{
  margin-right: 350px;
  margin-left: 350px;
  margin-top: 80px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.end{
  background-color: rgb(243, 210, 238);
position: static;
  font-size: larger;
  width: 100%;
  text-align: center;
}